.main-container{
	margin-left: 50px;
}
.container-div{
	margin-left:300px; 
	margin-top:50px;
	width:78%;
}
.space-calculator-div{
	display:inline-block; 
	width:25%
}
.login-info-div{
	display:inline-block; 
	margin-left:40px; 
	width:25%
}
.login-info-left{
	float:left;
	line-height:20pt;
}
.login-info-right{
	display:inline-block; 
	margin-left:20px;
	line-height:20pt;
}
.loading-bar-div{
	display:inline-block; 
	margin-left:40px; 
	margin-top:50px; 
	width:25%
}