.info-container {
	margin-top: 10px;
}
.info-left-container {
	float:left;
	margin: 10px;
}
.info-right-container {
	margin: 10px;
	display: inline-block;
}
.info-button-container {
	float:right;
	margin: 10px;
}
paper-button.info-button {
	font-size: 12pt;
	width: 200px;
	color: white;
	height:40px;
	margin:5px;
	background:#2580a2;
}
paper-button.info-button:hover {
	background:#354497;
	border:1px solid black;
}