.help-container {
	width:100%;
	height:100%;
	margin-top:20px;
}
.help-button {
	min-height:80px;
	width:70%;
	background: #ecf2f9;
	border:2px solid grey;
	border-radius: 15px;
	line-height: 80px;
	font-size: 16pt;
	text-align: center;
	transition: width 1s;
}
.help-button:hover {
	width:75%;
	background: #d8e4f3;
	transition: width 1s;
	cursor: pointer;
}
.customize-search {
	width: 300px;
	height: 40px;
	font-size: 14pt;
	float:right;
	margin-right: 40px;
}