	.main-container{
		border: 1px solid black;
		border-radius:5px; 
		width:84%;
		height:45px;
	}
	paper-button.add-button{
		border: 1px solid green;
		background: #2EB82E;
		color: white;
		width:150px;
		height:45px;
		padding:0;
		margin:0;
		font-size: 14pt;
	}
	.button-container{
		float:right;
	}
	.button-container-desc{
		display:inline;
		position: relative;
		font-size: 14pt;
		bottom:15px;
		right: 0px;
		left: -50px;
	}
	.button-text{
		position: absolute;
		top:12px;
		left:40px;
	}
	.create-container{
		height:300px;
		background: #333;
		border: 1px solid black;
		position: absolute;
		width:65.4%;
		border-radius: 5px;
		z-index:1;
		color:white;
	}
	.create-button-cancel{
		position: absolute;
		bottom: 5;
		left:5;
		background: #39A7CC;
		color: white;
	}
	.create-button-create{
		position: absolute;
		bottom: 5;
		right:5;
		background: #39A7CC;
		color: white;
	}
	.button-style:hover{
		background: #548B9E;
	}
	paper-menu.dropdown-content{
		color:black;
	}