.create-container {
	width:100%;
	height:100%;
	margin-top:20px;
}
.create-left-side {
	display: inline-block;
	margin: 10px;
	text-align: left;
	line-height: 30px;
}
.create-right-side {
	display: inline-block;
	text-align:left;
	margin: 10px;
}
.create-database-card {
	font-size: 12pt;
	width: 650px;
	min-height: 250px;
	height:auto;
	display:inline-block;
	border:2px solid grey;
	margin-bottom: 5px;
	background: #ecf2f9;
}
/*.create-database-card:hover {
	border:3px solid grey;
	background: #d8e4f3;
}*/
.create-input {
	width:250px;
	height:20px;
	border-radius: 2px;
	border:2px solid grey;
	font-size: 10pt;
	margin-left:10px;
	margin: 5px;
}
paper-menu.dropdown-content {
	/*font-size:12pt;
	width:120px;
	margin:0px;*/
}
.dropdown-item {
	width:100%;
	background: #9ebce1;
	margin-left:0px;
	font-size:12pt;
	text-align: center;
	height: 30px;
	color:white;
}
.dropdown-item:hover {
	background: #6393cf;
	border: 1px solid black;
}
paper-button.create-button {
	margin:10px;
	background:#2580a2;
	color:white;
	width:200px;
}
paper-button.create-button:hover {
	background: #354497;
}